@model GameShop.Models.Game

@{
    ViewData["Title"] = "Sửa Game";
}

<h1>Mặt Hàng Game</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TenGame" class="control-label"></label>
                <input asp-for="TenGame" class="form-control" />
                <span asp-validation-for="TenGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayMua" class="control-label"></label>
                <input asp-for="NgayMua" class="form-control" />
                <span asp-validation-for="NgayMua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label"></label>
                <input asp-for="TheLoai" class="form-control" />
                <span asp-validation-for="TheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaMua" class="control-label"></label>
                <input asp-for="GiaMua" class="form-control" />
                <span asp-validation-for="GiaMua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trờ Về Game</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
