body {
    background-color: #0b2d56;
}


.slide{
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
}

.dichuyen-slide{
    width: 9999px;
}
.BootSlide{
    width: 800px;
    height: 400px;
    float:left;
}
